/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
/*end reset*/

body{
    padding: 0;
    margin: 0;
    background: #2196F3;
	background:url(../images/bg1.jpg) no-repeat 0px 0px;
	background-size:cover;
    font-family: 'Roboto Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}	
p{
	margin:0;

}
ul{
	margin:0;
	padding:0;
}
.content{
	padding:3em 0;
}
.content h1{
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 2.5em 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    letter-spacing: 7px;
    font-weight: 700;
    text-transform: uppercase;
}
.w3ls-slider {
	width: 400px;
    margin: 0 auto;
    height: 470px;
}
.hub-slider { position: relative; }

.hub-slider ul { list-style: none; }

.hub-slider ul li {
	width: 100%;
    height: 370px;
    color: #fff;
    position: absolute;
    border-radius: 5px;
}

.hub-slider-controls {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.hub-slider-arrow {
    width: 40px;
    height: 40px;
    border: none;
    background: #f44336;
    color: #fff;
    font-weight: bold;
	cursor:pointer;
}
.hub-slider-arrow:focus{
	outline:none;
}
.w3layouts-info{
	padding: 6em 0 0 0;
    height: 370px;
    text-align: center;
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3layouts-info1{
	background:url(../images/5.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.w3layouts-info2{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.w3layouts-info3{
	background:url(../images/4.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.w3layouts-info-top{
    margin: 0 0 2em 0;
}
.w3layouts-info-top h3{
	color:#FFFFFF;
	font-size:5em;
	margin:0;
	font-weight:600;
}
.w3layouts-info-top h4{
	color:#FFFFFF;
	font-size:1.5em;
	margin:0;
	font-weight:300;
}
.w3layouts-info-top p{
	color:#FFFFFF;
	font-size:.9em;
	margin:1em 0 0 0;
}
.w3layouts-info-bottom{
	margin:1em 0 0 0;
}
.w3layouts-info-bottom h5{
    color: #FFFFFF;
    font-size: 1.1em;
}
.w3layouts-info-bottom p{
	color:#FFFFFF;
	font-size:.9em;
	margin:1em 0 0 0;
}
.copyright{
	text-align: center;
    margin: 3em 0 0 0;
}
.copyright p{
    color: #ffffff;
    font-size: .9em;
    margin: 0;
}
.copyright p a{
	color:#FFFFFF;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copyright p a:hover{
	color:#222430;
}
/*-- responsive --*/
@media(max-width:600px){
	.content h1 {
		font-size: 2em;
	}
}
@media(max-width:480px){
	.w3ls-slider {
		width: 400px;
	}
	.content h1 {
		font-size: 1.5em;
		margin: 0 0 4.5em 0;
	}
}
@media(max-width:414px){
	.w3ls-slider {
		width: 375px;
	}
	.hub-slider-arrow {
		width: 30px;
		height: 30px;
	}
	.content h1 {
		font-size: 1.2em;
	}
}
@media(max-width:384px){
	.w3ls-slider {
		width: 340px;
	}
	.copyright {
		margin: 2em 0 0 0;
	}
	.content h1 {
		letter-spacing: 4px;
	}
}
@media(max-width:320px){
	.w3ls-slider {
		width: 280px;
	}
	.content h1 {
		letter-spacing: 2px;
	}
}
/*-- //responsive --*/